<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="navigate_menu">
    <div sec:authorize="isAuthenticated()">
        Authenticated username:
        <div sec:authentication="principal.username"></div>
    </div>

    <ul>
        <li><a th:href="@{/}">index</a></li>
        <li><a th:href="@{/products/list}">list</a></li>
        <li><a th:href="@{/products/new}">new</a></li>
        <li><a th:href="@{/products/finder-product-by-title}">edit products</a></li>
        <li>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">logout</a><br>
            </div>
        </li>
    </ul>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a><br>
    </div>


</div>

</body>
</html>