<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{menu :: #navigate_menu}"></div>

<form action="#" th:action="@{/products/finder-product-by-title}" th:object="${product}" method="post">
    <table border="1">
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"/> </td>
        </tr>

    </table>
    <button type="submit">find</button>
</form>
</body>
</html>